.main-page-wrapper {
  padding: 0 !important;
}
.main-page-banner {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
.main-page-banner h1 {
  text-align: center;
  line-height: 1.5;
}
.custom-card {
  flex-direction: row !important;
  margin: 3rem 0.5rem;
  background-color: #ffbeb8;
}

.custom-card .card-img {
  width: 30%;
}
